.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 820px;
}

.container h1,
.container h2{
    text-shadow: black 0px 1px 2px;
}

.container h2{
    font-family: monospace;
    font-size: 16px;

    padding: 10px 0;
}

.personal-info{
    padding: 8% 0 0 0;
}

.personal-info h1{
    font-size: 32px;
    display: flex;
}

.personal-info h2{
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    margin: 10px 0 0 0;
    padding: 12px 14px;
    text-align: left;
}

.personal-info img{
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin: 0 10px 0 0;
    height: 32px;
    width: 32px;
}

.section{
    padding: 12% 0;
}

.header{
    background: linear-gradient(to right, var(--accent-color), var(--primary-color));
    border-radius: 6px;

    padding: 8px 12px;

    font-size: 24px;
    text-transform: uppercase;
}

.entry{
    padding: 12px 0
}

.title{   
    font-family: monospace;
    font-size: 24px;

    text-shadow: black 0px 1px 2px;
}

.entry .link:hover{
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

.date{
    color: var(--font-color);
    font-family: monospace;
    font-size: 14px;

    padding: 0 0 4px 0;

    text-shadow: black 0px 1px 2px;
}

.description{
    font-family: monospace;
    font-size: 16px;

    text-shadow: black 0px 1px 2px;
}

.box{
    padding: 12px 0;
    width: 100%;
    max-width: 820px;
}

form{
    padding-top: 6px;
}

label{
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

input,
textarea{
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    color: var(--font-color);

    margin: 12px 0;
    padding: 0 12px;
    
    font-family: monospace;

    height: 42px;
    width: 100%;
}

input:hover,
textarea:hover{
    border-color: var(--accent-color);
}

textarea{
    padding: 12px;
    resize: none;

    height: 86px;
}

textarea:focus::placeholder{
    color: transparent;
}

/* @media screen and (min-width: 240px) and (max-width: 960px) and (orientation: portrait) {
} */